<div class="w3-container">

	<p>
		<span class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>
			{% if experienceAndEducation.startDate is defined and experienceAndEducation.endDate is defined %}
				{% if experienceAndEducation.startDate|date('Y') == experienceAndEducation.endDate|date('Y') %}
					{{ experienceAndEducation.startDate|date('M Y') }}
					-
					{{ experienceAndEducation.endDate|date('M Y') }}
				{% else %}
					{{ experienceAndEducation.startDate|date('Y') }}
					-
					{{ experienceAndEducation.endDate|date('Y') }}
				{% endif %}
			{% else %}
				{{ experienceAndEducation.startDate ? experienceAndEducation.startDate|date('Y') : '' }}
				{{ experienceAndEducation.endDate ? '- '~ experienceAndEducation.endDate|date('Y') : '' }}
			{% endif %}
		</span>,
		<span class="bold w3-text-dark-gray">
			{{ experienceAndEducation.what }}
		</span>
		/ <strong class="w3-text-teal">{{ experienceAndEducation.workPlace }}</strong>,
		<span class="w3-text-gray">
			{{ experienceAndEducation.city }}
		</span>
	</p>


	<p class="w3-text-gray">{{ experienceAndEducation.description }}</p>
</div>
