<ul id="websitesCV">
		{% for website in websites|sort((a, b) => a.positionOrder <=> b.positionOrder) %}
		<li>
			<span class="w3-text-teal">{{ website.name|raw }}</span>
			{{ (website.url)? 'Site:' : '' }}{{ website.url|replace({'http://': '','https://': ''}) }}{{ (website.repoUrl and website.repoUrl)? ';' : '' }}
			{{ (website.repoUrl)? 'Dépôt Github:' : '' }}{{ website.repoUrl|replace({'http://': '','https://': '', 'github.com/': ''}) }}
		</li>
	{% endfor %}
</ul>
