<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">

		{# <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> #}
		<style type="text/css">
		    .bold {
            	font-weight: bold;
        	}
			{% set compt = 0 %}
			{% for skillAndFeature in skillsAndFeatures|filter(skillAndFeature => skillAndFeature.skillOrFeature == 0) %}
				#skillAndFeature{{ compt }} {
					width: {{ skillAndFeature.rate }}%;
				}
				{% set compt = compt + 1 %}
			{% endfor %}
			{% for skillAndFeature in skillsAndFeatures|filter(skillAndFeature => skillAndFeature.skillOrFeature == 1) %}
				#skillAndFeature{{ compt }} {
					width: {{ skillAndFeature.rate }}%;
				}
				{% set compt = compt + 1 %}
			{% endfor %}
    	</style>


	</head>
	<body>

		<header class="w3-row w3-text-grey w3-margin-bottom">
			<div class="w3-col s2">
				<img src="{{ photo }}" alt="{{ photoAlt }}" title="{{ photoAlt }}">
			</div>
			<div class="w3-col s6 message">
				<h1>{{ me }}</h1>
				<h2 class="w3-text-teal">{{ occupation }}</h2>
				<p>{{ content }}</p>
			</div>
			<div class="w3-col s3">
				<address>
					<p>
						<span class="w3-text-teal"><i class="fa">&#xf0e0;</i></span>&nbsp;
						{{ Email }}
					</p>
					<p>
						<span class="w3-text-teal"><i class="fa">&#xf015;</i></span>&nbsp;
						{{ Adress }}</p>
					<p>
						<span class="w3-text-teal"><i class="fa">&#xf095;</i></span>&nbsp;
						{{ Phone }}</p>
				</address>
				{% for socialNetwork in socialNetworks|filter(socialNetwork => socialNetwork.cvOrSite == 0 or socialNetwork.cvOrSite == 1) %}
					<p>
						<span class="w3-text-teal">
							{{ socialNetwork.logo|replace({'fill="#FC5656"': 'fill="#009688"', 'fa-github">': '">&#xf09b', 'fa-link">': '">&#xf0c1', 'fa-linkedin">': '">&#xf0e1' })|raw }}
						</span>{{ socialNetwork.url|replace({'http://': '','https://': '', 'linkedin.com/in/':''}) }}
					</p>
				{% endfor %}
				<p>
					<span class="w3-text-teal"><i class="fa">&#xf1b9;</i></span>&nbsp; Permis B - Véhicule personnel</p>
				<p>
					<span class="w3-text-teal"><i class="fa">&#xf073;</i></span>&nbsp; {{ age }} ans</p>
			</div>
		</header>

		<main>
			<!-- The Grid -->

				<!-- Left Column -->
				<aside class="w3-col s3 w3-text-grey">

					<section id="competences">
						<h3>
							<i class="fa fa-fw w3-margin-right w3-text-teal">&#xf069;</i>&nbsp; Compétences</h3>

						{% set compt = 0 %}
						{% for skillAndFeature in skillsAndFeatures|filter(skillAndFeature => skillAndFeature.skillOrFeature == 0) %}
							{% include "home/_skillAndFeature.html.twig" %}
							{% set compt = compt + 1 %}
						{% endfor %}
					</section>

					<section id="atouts">
						<h3>
							<i class="fa fa-fw w3-margin-right w3-text-teal">&#xf069;</i>&nbsp; Atouts</h3>

						{% for skillAndFeature in skillsAndFeatures|filter(skillAndFeature => skillAndFeature.skillOrFeature == 1) %}
							{% include "home/_skillAndFeature.html.twig" %}
							{% set compt = compt + 1 %}
						{% endfor %}
					</section>
				</aside>

				<!-- End Left Column -->

				<!-- Right Column -->
				<article class="w3-col s8 w3-text-grey">

					<section class="w3-margin-bottom" id="experiences">
						<h3>
							<i class="fa fa-fw w3-margin-right w3-xxlarge w3-text-teal">&#xf0f2;</i>&nbsp; Expériences</h3>

						{% include "home/_projectsCV.html.twig" %}

						{% for experienceAndEducation in experiencesAndEducations|filter(experienceAndEducation => experienceAndEducation.xpOrEducation == 1)|sort((a, b) => a.positionOrder <=> b.positionOrder) %}
							{% include "home/_experienceAndEducationCV.html.twig" %}
						{% endfor %}

					</section>

					<section id="formation">
						<h3>
							<i class="fa fa-fw w3-margin-right w3-xxlarge w3-text-teal">&#xf0a3;</i>&nbsp; Formation</h3>

						{% for experienceAndEducation in experiencesAndEducations|filter(experienceAndEducation => experienceAndEducation.xpOrEducation == 0)|sort((a, b) => a.positionOrder <=> b.positionOrder) %}
							{% include "home/_experienceAndEducationCV.html.twig" %}
						{% endfor %}

					</section>

					<!-- End Right Column -->
				</article>
				<!-- End Grid -->

				<!-- End Page Container -->
		</main>

	</body>
</html>
