<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">

		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

	</head>
	<body class="w3-light-grey">

		<main>
			<div
				id="mainContainer" class="w3-content w3-margin-top">

				<!-- The Grid -->
				<div class="w3-row-padding">

                    <section class="w3-container w3-white w3-text-grey w3-card-4 w3-margin-bottom">
                        <div class="w3-col s2">
                            <img src="{{ asset('images/'~ photo )|imagine_filter('min300') }}" alt="{{ photoAlt }}" title="{{ photoAlt }}">
                        </div>
                        <div class="w3-col s6">
                            <h1>{{ occupation }}</h1>
                            <h2>{{ me }}</h2>
                            <p>{{ content }}</p>
                        </div>
						<div class="w3-col s4">
                            <address> 
								<p>
									<span class="w3-margin-right w3-text-teal"><i class="fa fa-envelope"></i></span>{{ Email }}
                                </p>
                                <p>
									<span class="w3-margin-right w3-text-teal"><i class="fa fa-home"></i></span>{{ Adress }}</p>
                            </address>
                            <p>
								<span class="w3-margin-right w3-text-teal"><i class="fa fa-car"></i></span>Permis B - Véhicule personnel</p>
                            <p>
								<span class="w3-margin-right w3-text-teal"><i class="fa fa-calendar"></i></span>{{ age }} ans</p>

                            {% for socialNetwork in socialNetworks %}
                                <p><span class="w3-margin-right w3-text-teal">{{ socialNetwork.logo|raw }}</span>{{ socialNetwork.hyperlink|replace({'http://': '','https://': ''}) }}</p>
                            {% endfor %}
                            
						</div>
                    </section>

					<!-- Left Column -->
					<aside class="w3-col l4 w3-white w3-text-grey w3-card-4 w3-margin-bottom">

						<section class="w3-container" id="competences">
							<h3>
								<i class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal"></i>Compétences</h3>

							{% for skillAndFeature in skillsAndFeatures|filter(skillAndFeature => skillAndFeature.skillOrFeature == 0) %}

								{% include "home/_skillAndFeature.html.twig" %}

							{% endfor %}

						</section>

						<section class="w3-container" id="atouts">
							<h3>
								<i class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal"></i>Atouts</h3>

							{% for skillAndFeature in skillsAndFeatures|filter(skillAndFeature => skillAndFeature.skillOrFeature == 1) %}

								{% include "home/_skillAndFeature.html.twig" %}

							{% endfor %}

						</section>
					</aside>

					<!-- End Left Column -->

					<!-- Right Column -->
					<article class="w3-col l8">

						<section class="w3-container w3-card w3-white w3-margin-bottom" id="experiences">
							<h2 class="w3-text-grey w3-padding-16">
								<i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Expériences</h2>

							{% include "home/_projectsNoPicture.html.twig" %}

							{% for experienceAndEducation in experiencesAndEducations|filter(experienceAndEducation => experienceAndEducation.xpOrEducation == 1)|sort((a, b) => a.positionOrder <=> b.positionOrder) %}
								{% include "home/_experienceAndEducationCV.html.twig" %}
							{% endfor %}

						</section>

						<section class="w3-container w3-card w3-white" id="formation">
							<h2 class="w3-text-grey w3-padding-16">
								<i class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Formation</h2>

							{% for experienceAndEducation in experiencesAndEducations|filter(experienceAndEducation => experienceAndEducation.xpOrEducation == 0)|sort((a, b) => a.positionOrder <=> b.positionOrder) %}
								{% include "home/_experienceAndEducationCV.html.twig" %}
							{% endfor %}

						</section>

						<!-- End Right Column -->
					</article>
					<!-- End Grid -->
				</div>

				<!-- End Page Container -->
			</div>
		</main>
		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</body>
</html>
