{% extends 'base.html.twig' %}

{% set currentUrl = url(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) %}

{% block head %}
	<meta name="description" content="Curriculum vitae de Stéphane Derom, Développeur web junior sur Mâcon, Bourgogne-Franche-Comté. Symfony, php, sql, javascript, Bootstrap.">

	<script type="application/ld+json">
		{
																																	"@context": "http://schema.org",
																																	"@type": "Person",
																																	"familyName": "Derom",
																																	"givenName": "Stéphane",
																																    "url": "{{ url(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}",
																																	"jobTitle": "{{ occupation }}",
																																	"alumniOf": [
		{% for experienceAndEducation in experiencesAndEducations|filter(experienceAndEducation => experienceAndEducation.xpOrEducation == 0) %}
			"{{ experienceAndEducation.urlWorkPlace }}"
			{{ loop.last ? '' : ',' }}
		{% endfor %}
		],
																																	"gender": "http://schema.org/Male",
																																    "address": {
																																        "@type": "PostalAddress",
																																        "addressLocality": "Charnay-lès-Mâcon",
																																        "postalCode": "71850",
																																        "addressRegion": "Bourgogne-Franche-Comté"
																																    },
																																	"sameAs": [
		{% for socialNetwork in socialNetworks %}
			"{{ socialNetwork.url }}"
			{{ loop.last ? '' : ',' }}
		{% endfor %}
		]
																																}
	</script>
{% endblock %}

{% block title %}Symfony, php, sql, javascript, Boostrap -
	{{ occupation }}
{% endblock %}

{% block header %}
	<div class="w3-text-light-gray">
		<h1>{{ occupation }}</h1>
		<p>{{ me }}</p>
		<p>{{ content }}</p>
		<p>
			{% for socialNetwork in socialNetworks %}
				<a href="{{ socialNetwork.url }}" target="_blank" title="{{ socialNetwork.title }}" class="w3-hover-opacity">{{ socialNetwork.logo|raw }}</a>
			{% endfor %}
		</p>
	</div>
{% endblock %}

{% block body %}

	{% for message in app.flashes('success') %}
		<div class="success">{{ message }}</div>
	{% endfor %}
	{% for message in app.flashes('fail') %}
		<div class="form-error-message">{{ message }}</div>
	{% endfor %}
	<div id="email_sent"></div>


	<!-- Page Container -->
	<div
		id="mainContainer" class="w3-content w3-margin-top">

		<!-- The Grid -->
		<div
			class="w3-row-padding">

			<!-- Left Column -->
			<aside class="w3-col l4 w3-white w3-text-grey w3-card-4 w3-margin-bottom"> 

				<h2 class="w3-center">{{ me }}</h2>

				<div class="w3-container">
					<section class="w3-col m4 l12">
						<img src="{{ asset('images/'~ photo )|imagine_filter('min300') }}" alt="{{ photoAlt }}" title="{{ photoAlt }}">
					</section>

					<section id="address" class="w3-col m8 l12 w3-margin-top">
						<p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal"></i>{{ occupation }}</p>
						<address>
							<p><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"></i>{{ Adress }}</p>
							<p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"></i><a href="mailto:{{ Email }}" title="Envoyez moi un courriel">{{ Email|replace({'@': ' at ' })  }}</a></p>
						</address>
						<p><i class="fa fa-car fa-fw w3-margin-right w3-large w3-text-teal"></i>Permis B - Véhicule personnel</p>
						<p><i class="fa fa-calendar fa-fw w3-margin-right w3-large w3-text-teal"></i>{{ age }} ans</p>
					</section>
				</div>

				<section class="w3-container">
					<p class="w3-center">
						{% for socialNetwork in socialNetworks %}
							<a href="{{ socialNetwork.url }}" target="_blank" title="{{ socialNetwork.title }}" class="w3-hover-opacity">{{ socialNetwork.logo|raw }}</a>
						{% endfor %}
					</p>
				</section>


				<section class="w3-container" id="competences">
					<h3><i class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal"></i>Compétences</h3>

					{% for skillAndFeature in skillsAndFeatures|filter(skillAndFeature => skillAndFeature.skillOrFeature == 0) %}

						{% include "home/_skillAndFeature.html.twig" %}

					{% endfor %}

				</section>

				<section class="w3-container" id="atouts">
					<h3><i class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal"></i>Atouts</h3>

					{% for skillAndFeature in skillsAndFeatures|filter(skillAndFeature => skillAndFeature.skillOrFeature == 1) %}

						{% include "home/_skillAndFeature.html.twig" %}

					{% endfor %}

				</section>
			</aside>

			<!-- End Left Column -->

			<!-- Right Column -->
			<article class="w3-col l8">

				<section class="w3-container w3-card w3-white w3-margin-bottom" id="experiences">
					<h2 class="w3-text-grey w3-padding-16">
						<i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Expériences</h2>

					{% include "home/_projects.html.twig" %}

					{% for experienceAndEducation in experiencesAndEducations|filter(experienceAndEducation => experienceAndEducation.xpOrEducation == 1)|sort((a, b) => a.positionOrder <=> b.positionOrder) %}
						{% include "home/_experienceAndEducation.html.twig" %}
					{% endfor %}

				</section>

				<section class="w3-container w3-card w3-white" id="formation">
					<h2 class="w3-text-grey w3-padding-16">
						<i class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Formation</h2>

					{% for experienceAndEducation in experiencesAndEducations|filter(experienceAndEducation => experienceAndEducation.xpOrEducation == 0)|sort((a, b) => a.positionOrder <=> b.positionOrder) %}
						{% include "home/_experienceAndEducation.html.twig" %}
					{% endfor %}

				</section>

				<!-- End Right Column -->
			</article>
			<!-- End Grid -->
		</div>
		<section id="contact">
			<h2>Contact</h2>
			{{ include('home/_formMessages.html.twig') }}
		</section>

		<!-- End Page Container -->
	</div>
{% endblock %}
