{% extends 'base-admin.html.twig' %}

{% block title %}WebSites{% endblock %}

{% block body %}
	<!-- Content Header (Page header) -->
	<div class="content-header">
		<div class="container-fluid">
			<div class="row mb-2">
				<div class="col-sm-6">
					<h1 class="m-0 text-dark">WebSites</h1>
				</div>
				<!-- /.col -->
				<div class="col-sm-6">
					<ol class="breadcrumb float-sm-right">
						<li class="breadcrumb-item">
							<a href="{{ path('admin') }}">Dashboard</a>
						</li>
						<li class="breadcrumb-item active">Sites réalisés</li>
					</ol>
				</div>
				<!-- /.col -->
			</div>
			<!-- /.row -->
		</div>
		<!-- /.container-fluid -->
	</div>
	<!-- /.content-header -->

	<!-- Main content -->
	<div class="content">
		<div class="container-fluid">
            <table class="table">
                <tbody>
                    <tr>
                        <th>Name</th>
                        <td>{{ web_site.name }}</td>
                    </tr>
                    <tr>
                        <th>Url</th>
                        <td>{{ web_site.url }}</td>
                    </tr>
                    <tr>
                        <th>Repo Url</th>
                        <td>{{ web_site.repoUrl }}</td>
                    </tr>
                    <tr>
                        <th>Image</th>
                        <td>
                            {% if web_site.image is not empty %}
                            <img src="{{ asset('images/'~ web_site.image ) | imagine_filter('miniatures') }}" alt="{{ web_site.alt }}">
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th>Updated_at</th>
                        <td>{{ web_site.updatedAt ? web_site.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                    </tr>
                    <tr>
                        <th>Alt</th>
                        <td>{{ web_site.alt }}</td>
                    </tr>
                    <tr>
                        <th>Order</th>
                        <td>{{ web_site.positionOrder }}</td>
                    </tr>
                </tbody>
            </table>

            <a href="{{ path('web_sites_index') }}">back to list</a>

            <a href="{{ path('web_sites_edit', {'id': web_site.id}) }}">edit</a>

            {{ include('web_sites/_delete_form.html.twig') }}
        </div>
    </div>    
{% endblock %}
