{% extends 'base-admin.html.twig' %}

{% block title %}SocialNetworks index{% endblock %}

{% block body %}
	<!-- Content Header (Page header) -->
	<div class="content-header">
		<div class="container-fluid">
			<div class="row mb-2">
				<div class="col-sm-6">
					<h1 class="m-0 text-dark">SocialNetworks index</h1>
				</div>
				<!-- /.col -->
				<div class="col-sm-6">
					<ol class="breadcrumb float-sm-right">
						<li class="breadcrumb-item">
							<a href="{{ path('admin') }}">Dashboard</a>
						</li>
						<li class="breadcrumb-item active">Réseaux sociaux</li>
					</ol>
				</div>
				<!-- /.col -->
			</div>
			<!-- /.row -->
		</div>
		<!-- /.container-fluid -->
	</div>
	<!-- /.content-header -->

	<!-- Main content -->
	<div class="content">
		<div class="container-fluid">
			<table class="table">
				<thead>
					<tr>
						<th>Title</th>
						<th>On cv or site ?</th>
						<th>Logo</th>
						<th>Url</th>
						<th>actions</th>
					</tr>
				</thead>
				<tbody>
				{% for social_network in social_networks %}
					<tr>
						<td>{{ social_network.title }}</td>
						<td>{{ social_network.cvOrSite}}</td>
						<td>{{ social_network.Logo}}</td>
						<td>{{ social_network.url }}</td>
						<td>
							<a href="{{ path('social_networks_show', {'id': social_network.id}) }}">show</a>
							<a href="{{ path('social_networks_edit', {'id': social_network.id}) }}">edit</a>
							{{ include('social_networks/_delete_form.html.twig') }}
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="5">no records found</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>

			<a href="{{ path('social_networks_new') }}">Create new</a>

		</div>
	</div>
{% endblock %}
