{% extends 'base-admin.html.twig' %}

{% block title %}Publications index{% endblock %}

{% block body %}
	<!-- Content Header (Page header) -->
	<div class="content-header">
		<div class="container-fluid">
			<div class="row mb-2">
				<div class="col-sm-6">
					<h1 class="m-0 text-dark">Publications index</h1>
				</div>
				<!-- /.col -->
				<div class="col-sm-6">
					<ol class="breadcrumb float-sm-right">
						<li class="breadcrumb-item">
							<a href="{{ path('admin') }}">Dashboard</a>
						</li>
						<li class="breadcrumb-item active">Publications scientifiques</li>
					</ol>
				</div>
				<!-- /.col -->
			</div>
			<!-- /.row -->
		</div>
		<!-- /.container-fluid -->
	</div>
	<!-- /.content-header -->

	<!-- Main content -->
	<div class="content">
		<div class="container-fluid">
			<table class="table">
				<thead>
					<tr>
						<th>Title</th>
						<th>Image</th>
						<th>Editor</th>
						<th>actions</th>
					</tr>
				</thead>
				<tbody>
				{% for publication in publications %}
					<tr>
						<td>{{ publication.title }}</td>
						<td>
                            {% if publication.image is not empty %}
                            <img src="{{ asset('images/'~ publication.image ) | imagine_filter('miniatures') }}" alt="{{ publication.alt }}">
                            {% endif %}
                        </td>
						<td>{{ publication.editor }}</td>
						<td>
							<a href="{{ path('publications_show', {'id': publication.id}) }}">show</a>
							<a href="{{ path('publications_edit', {'id': publication.id}) }}">edit</a>
							{{ include('publications/_delete_form.html.twig') }}
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="9">no records found</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>

			<a href="{{ path('publications_new') }}">Create new</a>

		</div>
	</div>
{% endblock %}
