{% extends 'base-admin.html.twig' %}

{% block title %}Publications{% endblock %}

{% block body %}
	<!-- Content Header (Page header) -->
	<div class="content-header">
		<div class="container-fluid">
			<div class="row mb-2">
				<div class="col-sm-6">
					<h1 class="m-0 text-dark">Publications</h1>
				</div>
				<!-- /.col -->
				<div class="col-sm-6">
					<ol class="breadcrumb float-sm-right">
						<li class="breadcrumb-item">
							<a href="{{ path('admin') }}">Dashboard</a>
						</li>
						<li class="breadcrumb-item active">Publications scientifiques</li>
					</ol>
				</div>
				<!-- /.col -->
			</div>
			<!-- /.row -->
		</div>
		<!-- /.container-fluid -->
	</div>
	<!-- /.content-header -->

	<!-- Main content -->
	<div class="content">
		<div class="container-fluid">
            <table class="table">
                <tbody>
                    <tr>
                        <th>Title</th>
                        <td>{{ publication.title }}</td>
                    </tr>
                    <tr>
                        <th>Image</th>
                        <td>
                            {% if publication.image is not empty %}
                            <img src="{{ asset('images/'~ publication.image ) | imagine_filter('miniatures') }}" alt="{{ publication.alt }}">
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th>Editor</th>
                        <td>{{ publication.editor }}</td>
                    </tr>
                    <tr>
                        <th>Authors</th>
                        <td>
                        {% for author in publication.authors %}
                            {{ author.name }} {{ loop.last ? '' : ',' }}
                        {% endfor %}
                        </td>
                    </tr>

                    <tr>
                        <th>Hyperlink</th>
                        <td>{{ publication.hyperlink }}</td>
                    </tr>
                    <tr>
                        <th>Published_at</th>
                        <td>{{ publication.publishedAt ? publication.publishedAt|date('Y-m-d') : '' }}</td>
                    </tr>
                    <tr>
                        <th>Updated_at</th>
                        <td>{{ publication.updatedAt ? publication.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                    </tr>
                    <tr>
                        <th>Alt</th>
                        <td>{{ publication.alt }}</td>
                    </tr>
                </tbody>
            </table>

            <a href="{{ path('publications_index') }}">back to list</a>

            <a href="{{ path('publications_edit', {'id': publication.id}) }}">edit</a>

            {{ include('publications/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}
