{% extends 'base-admin.html.twig' %}

{% block title %}UserImages index
{% endblock %}

{% block body %}
	<!-- Content Header (Page header) -->
	<div class="content-header">
		<div class="container-fluid">
			<div class="row mb-2">
				<div class="col-sm-6">
					<h1 class="m-0 text-dark">UserImages index</h1>
				</div>
				<!-- /.col -->
				<div class="col-sm-6">
					<ol class="breadcrumb float-sm-right">
						<li class="breadcrumb-item">
							<a href="{{ path('admin') }}">Dashboard</a>
						</li>
						<li class="breadcrumb-item active">Images Administrateurs</li>
					</ol>
				</div>
				<!-- /.col -->
			</div>
			<!-- /.row -->
		</div>
		<!-- /.container-fluid -->
	</div>
	<!-- /.content-header -->

	<!-- Main content -->
	<div class="content">
		<div class="container-fluid">
			<table class="table">
				<thead>
					<tr>
						<th>Id</th>
						<th>Name</th>
						<th>Alt</th>
						<th>Updated_at</th>
						<th>actions</th>
					</tr>
				</thead>
				<tbody>
					{% for user_image in user_images %}
						<tr>
							<td>{{ user_image.id }}</td>
							<td>							
								<img src="{{ asset('images/'~ user_image.name ) | imagine_filter('min300') }}" alt="{{ user_image.alt }}">
							</td>
							<td>{{ user_image.alt }}</td>
							<td>{{ user_image.updatedAt ? user_image.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
							<td>
								<a href="{{ path('user_images_show', {'id': user_image.id}) }}">show</a>
								<a href="{{ path('user_images_edit', {'id': user_image.id}) }}">edit</a>
								{{ include('user_images/_delete_form.html.twig') }}
							</td>
						</tr>
					{% else %}
						<tr>
							<td colspan="5">no records found</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>

			<a href="{{ path('user_images_new') }}">Create new</a>

		</div>
	</div>
{% endblock %}
