{% extends 'base-admin.html.twig' %}

{% block title %}ExperiencesAndEducations index{% endblock %}

{% block body %}
	<!-- Content Header (Page header) -->
	<div class="content-header">
		<div class="container-fluid">
			<div class="row mb-2">
				<div class="col-sm-6">
					<h1 class="m-0 text-dark">ExperiencesAndEducations index</h1>
				</div>
				<!-- /.col -->
				<div class="col-sm-6">
					<ol class="breadcrumb float-sm-right">
						<li class="breadcrumb-item">
							<a href="{{ path('admin') }}">Dashboard</a>
						</li>
						<li class="breadcrumb-item active">Expériences et formation</li>
					</ol>
				</div>
				<!-- /.col -->
			</div>
			<!-- /.row -->
		</div>
		<!-- /.container-fluid -->
	</div>
	<!-- /.content-header -->

	<!-- Main content -->
	<div class="content">
		<div class="container-fluid">
        
            <table class="table">
                <thead>
                    <tr>
                        <th>What</th>
                        <th>Work_place</th>
                        <th>Order</th>
                        <th>Expérience ou formation ?</th>
                        <th>actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for experiences_and_education in experiences_and_educations %}
                    <tr>
                        <td>{{ experiences_and_education.what }}</td>
                        <td>{{ experiences_and_education.workPlace }}</td>
                        <td>{{ experiences_and_education.positionOrder }}</td>
                        <td>{{ experiences_and_education.xpOrEducation }}</td>
                        <td>
                            <a href="{{ path('experiences_and_educations_show', {'id': experiences_and_education.id}) }}">show</a>
                            <a href="{{ path('experiences_and_educations_edit', {'id': experiences_and_education.id}) }}">edit</a>
                            {{ include('experiences_and_educations/_delete_form.html.twig') }}
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="7">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <a href="{{ path('experiences_and_educations_new') }}">Create new</a>

		</div>
	</div>
{% endblock %}